@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>History</h1>
    <p class="lead">
        Stryker’s history is rooted in innovation. When Dr. Homer Stryker, an orthopaedic surgeon from Kalamazoo, Michigan, found that certain medical products were not meeting his patients’ needs, he invented new ones. As interest in these products grew, Dr. Stryker started a company in 1941 to produce them. The company’s goal was to help patients lead healthier, more active lives through products and services that make surgery and recovery simpler, faster and more effective.
        Today, Stryker is a global leader in the medical technology industry. Company growth is based on an unparalleled variety of high-quality, innovative products and services that create cost-effective solutions and improve people’s lives – which we achieve through the dedication of our over 25,000 employees globally in 2013.
        The spirit of bringing innovation to healthcare began with Dr. Stryker when he founded the company in 1941 and it continues today. Stryker is well-positioned to continue serving the worldwide medical community for generations to come. We think Dr. Stryker would be pleased.
    </p>

</div>

